# Environment Config File
# e.g.
# SERVICE=https://raw.githubusercontent.com/
# NAMESPACE=Be-Secure
# REPO=bes-tool-scripts
# Softwares-
# <software name>=I => Install, U => Uninstall - => Leave Unchanged
# vscode=I
# artifact=U
SERVICE=https://raw.githubusercontent.com/
NAMESPACE=Be-Secure
REPO=bes-tool-scripts
WORKDIR=/tmp/javaSpringdev
Softwares-
vscode=I 
maven=I
artifact=I
Selenium=I
